@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "./src/sass/colors";
@import "./src/sass/button";
@import "./src/sass/navbar";
@import "./src/sass/carousel";
@import "./src/sass/tabs";
@import "./src/sass/collapse";
@import "./src/sass/checkbox";

// Registration form

.register-section {
  background-color: $background-color2;
}

.form-header {
  padding: 14px;
  text-align: center;
  color: $font-color3;
}

#registration-form {
  margin: auto;
  width: 100%;

  .col-12 {
    margin: 10px 0px;
  }
}

@include media-breakpoint-up(lg) {
  #registration-form {
    margin: auto;
    width: 50%;
  }
}

.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
  position: absolute;
  width: auto;
  bottom: 6px;
  right: 25px;
  margin-top: 0;

  svg {
    height: 18px;
    width: 18px;
  }
}
// Google maps

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

// Intro
#intro {
  width: 100%;
  height: 100vh;
  position: relative;

  &::after {
    content: "";
    background: url("./src/img/1.jpg") no-repeat;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .intro-content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;

    h2 {
      color: $button-color;
      margin-bottom: 30px;
      font-size: 64px;
      font-weight: 700;

      span {
        color: #ff6f61ff;
        text-decoration: underline;
      }
    }

    .btn-register,
    .btn-contact-us {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 32px;
      border-radius: 2px;
      transition: 0.5s;
      margin: 10px;
      color: #fff;
    }

    .btn-register,
    .btn-contact-us {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 32px;
      border-radius: 2px;
      transition: 0.5s;
      margin: 10px;
      color: #fff;
    }
    .btn-register {
      background: $button-color;
      border: 2px solid $button-color;

      &:hover {
        background: none;
        color: $button-color;
      }
    }

    .btn-contact-us {
      background: #ff6f61ff;
      border: 2px solid #ff6f61ff;

      &:hover {
        background: none;
        color: #ff6f61ff;
      }
    }
  }
}
