$background-color1: #ffffff;
$background-color2: #f2f3f5;
$font-color1: #ffffff;
$font-color2: #b2b2b2;
$font-color3: #5b5a5a;
$button-color: #5335eb;
$button-color-hover: #755def;
$success-color: #66cc66;
$danger-color: #ba122b;
$active-color: #99ccff;
