.tales {
    width: 100%;
}
.carousel-inner {
    width: 100%;
    max-height: 500px !important;
}

.carousel-text {
    position: absolute;
    top: 140px;
    left: 160px;
    color: white;
    max-width: 40%;
}

.carousel-text p {
    padding-top: 20px;
}

@media (min-width: 486px) and (max-width: 768px) {
    .carousel-text {
        position: absolute;
        top: 40px;
        left: 60px;
        color: white;
        max-width: 40%;
    }

    .carousel-inner {
        width: 100%;
        max-height: 250px !important;
    }

    .carousel-text h1 {
        font-size: 24px;
    }

    .carousel-text p {
        padding-top: 10px;
        font-size: 10px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #5b5a5a;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #5335eb;
    border-bottom: 3px solid #5335eb;
}
.navbar-light .navbar-nav .nav-link:active {
    color: #5335eb;
    border-bottom: 3px solid #5335eb;
}
